{% extends 'applic/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
   <div class="NAVI_MAIN">
       <h1> {{ title }} </h1>
       <p> <img class="First_Navi", src="{% static 'applic/img/first_team.jpeg' %}"></p>
            <h5> Natus Vincere — крупнейшая киберспортивная организация в Украине. Она объединяет представителей разных дисциплин, где главными персонажами являются команды по Dota 2 и CS: GO. На фото – ее первый состав. Более чем за 10 лет Нави выиграли десятки крупных международных турниров. В разные годы в составы команд входили лучшие игроки из Украины, России, Республики Беларусь, Швеции, Великобритании, Израиля и других стран. </h5>
            <h5>За время деятельности организации ее официальными спонсорами побывали 1xBET, Logitech G, Monster Energy, NVIDIA, HyperX. Отдельно отметим букмекерскую контору GGBet. Благодаря ее поддержке был создан официальный сайт Natus Vincere в том виде, в котором он существует по сегодняшний день.</h5>
       <h1> НАЗВАНИЕ ОРГАНИЗАЦИИ: КАК ВЫ ЯХТУ НАЗОВЕТЕ… </h1>
       <h5>Идея создания киберспортивной организации была впервые высказана казахским меценатом Муратом «Arbalet» Жумашевичем. Он же стал первым спонсором, собравшим креативную команду менеджеров и игроков. В качестве названия была использована одна из рас, представленных в фильме Аватар (Na’vi). Затем был проведен конкурс на лучшую расшифровку аббревиатуры, где единогласно был выбран вариант Natus Vincere. Латинское словосочетание «рожденные побеждать» стало не просто названием организации, а ее основной целью. Все команды, которые представляет организация, нацелены исключительно на победу.</h5>
       <p><img class="First_Navi", src="{% static 'applic/img/sostav_navi_new.jpg' %}"></p>
   </div>

{% endblock %}
