{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'applic/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
    <aside>
        <img src="{% static 'applic/img/navi.svg' %}">
        <h4>Для поклонников команды</h4>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa fa-users" aria-hidden="true"></i> Natus Vincere CS GO</li></a>
            <a href="{% url 'help' %}"><li><i class="fa fa-star" aria-hidden="true"></i> Матчи NAVI CS GO</li></a>
            <a href="{% url 'about'%}"><li><i class="fa fa-trophy" aria-hidden="true"></i> NAVI и болельщики</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa fa-desktop" aria-hidden="true"></i> Отзывы</li></a>

        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

